
@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<table class="nav-justified">
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>
            <br />
            <br />
            <br />
            <div class="ui-widget">
                <input type="text" id="Event" placeholder="Search for an Event" />
                <input type="text" id="Eventtype" placeholder="Search with Type" />
                <input type="button" value="Search" id="Search" class="btn btn -success" />
                <input type="hidden" id="Id" />
            </div>
        </td>
    </tr>
    <tr>
        <td id="tbldata"></td>
    </tr>
</table>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    FindEvent =
        {
            BindControlEvents: function () {

                $(document).ready(function () {

                    GetEvents();
                    $('#Event').autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: 'GetSearchEvents',
                                data: { query: request.term },
                                dataType: 'json',
                                type: 'POST',
                                success: function (data) {
                                    debugger;
                                    response($.map(data, function (item) {
                                        return {
                                            label: item.EventTitle,
                                            value: item.EventID
                                        }
                                    }));
                                },
                                error: function (err) {
                                    debugger;
                                }
                            })
                        },
                        select: function (event, ui) {
                            $('#Event').val(ui.item.label);
                            $('#Id').val(ui.item.value);
                            return false;
                        },
                        minLength: 1
                    });
                    $('#Eventtype').autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: 'GetEventType',
                                data: { query: request.term },
                                dataType: 'json',
                                type: 'POST',
                                success: function (data) {
                                    debugger;
                                    response($.map(data, function (item) {
                                        return {
                                            label: item.EventType,
                                            value: item.EventTypeID
                                        }
                                    }));
                                },
                                error: function (err) {
                                    debugger;
                                }
                            })
                        },
                        select: function (event, ui) {
                            $('#Eventtype').val(ui.item.label);
                            $('#Id').val(ui.item.value);
                            return false;
                        },
                        minLength: 0
                    });
                    $('#Search').click(function () {

                        var SearchQuery = document.getElementById("Event").value;
                        if (SearchQuery) {
                            window.location.href = "http://localhost/GSUProject/Home/Search?SearchQuery=" + SearchQuery;

                        }

                        var SearchQuery1 = document.getElementById("Eventtype").value;
                        if (SearchQuery1) {
                            window.location.href = "http://localhost/GSUProject/Home/Search?SearchQuery=" + SearchQuery1;
                        }


                    });
                });
            }
        }
    function GetEvents() {


        $.ajax({
            url: 'GetAllEvents',
            method: 'POST',
            dataType: "text",
            cache: false,
            async: false,
            success: function (response) {
                debugger;
                writetable(JSON.parse(response));

                if (response.EFlag) {
                    window.location.href = "http://localhost/EventsGSU_FA2018/Events/Event.aspx";
                }
                else {
                    $('#ErrorText').text(response.UMessage);
                    $('#error').show('fade');
                }
                $('#successmodal').text(response.UserEmail);
                $("#error").show('fade');

            },
            error: function (error) {
                $('#ErrorText').text(error.responseText);
                $('#error').show('fade');

            }

        });
        function writetable(data) {

            var tableOutline = '';

            for (var i = 0; i < data.length; i++) {
                tableOutline = tableOutline +
                    '<a class = "eventblock" href="' + 'http://localhost/EventsGSU_FA2018/Events/Event.aspx?eventID=' +
                    data[i].EventID + '"><div style = "width: 180px; display: inline-block; padding: 20px" class="col-md-4 eventblock" > <div id="indexEventID' + i + '"></div><div><img id="indexImage' + i + '" src="' +
                    'http://localhost/EventsGSUBusinessLibrary/' + data[i].EventImage + '" style="width: 100px"></div><div id="event' + i + 'Date">' +
                    data[i].EventDate + '</div><div id="event' + i + 'Location">' +
                    data[i].EventLocation + '</div><div id="event' + i + 'Title">' +
                    data[i].EventTitle + '</div></div></a>';
            }
            $('#tbldata').append(tableOutline);
            $('#tbldata').show();
        }
    }
    $(function () {
        FindEvent.BindControlEvents();
    });
</script>



